body {
  margin: 0;
  background: white;
  color: #303030;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.task__list {
  display: flex;
  flex-wrap: wrap;
  padding-right: 30px;
  padding-left: 30px;
}
.task__item-2 {
  font-size: 16px;
  text-align: justify;
  outline: 1px solid blue;
  padding: 10px;
}
.task__item-2:not(:nth-child(2n)) {
  margin-right: 20px;
}
.task__item-2:nth-child(n + 7) {
  margin-bottom: 0px;
}
.task__item-2 {
  flex-basis: calc((100% - 2 * 30px) / 2);
}
